* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  width: 100%;
}
body {
  background-color: #007700;
  background-image: url('images/background-green-table.jpg');
  padding: 20px;
}
div.game {
  display: none;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}
div.game div.admin-panel {
  display: none;
}
